version: "3.8"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./services/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app

  db:
    ports:
      - "5432:5432"

  app:
    command: make dev
    ports:
      - "8080:8080"
    volumes:
      - "./app:/app"

volumes:
  caddy_data:
  caddy_config:
